<header class="container-fluid bg-body-secondary d-flex justify-content-between align-self-center">
  <div class="row g-2">
    <a href="#" class="col-6 fw-bold p-3 text-decoration-none text-body-secondary" [routerLink]="'/'">Главная</a>
    <a href="#" class="col-6 p-3 text-decoration-none text-body-secondary" [routerLink]="'/products'">Каталог</a>
<!--    <a href="#" class="col-2 p-3 text-decoration-none text-body-secondary">Цены</a>-->
<!--    <a href="#" class="col-3 p-3 text-decoration-none text-body-secondary">Контакты</a>-->
  </div>
  <div class="search py-3 row">
    <input type="text" placeholder="Поиск чая" class="col-7 border border-dark-subtle rounded mx-2 py-1">
    <button class="col-4 submit border border-primary-subtle border-2 rounded"><span class="text-primary">Найти</span>
    </button>
  </div>
</header>
